:root{
    --natural: #ED1C24;
    --rain: #3572B9;
    --pollen: #DCCC3C;
    --prairie: #F47534;
    --seed: #A35FA6;
    --forest: #6BA95C;
    --black: #000000;
    --white: #ffffff;
}

/* UNIVERSAL */

body {
    margin: 0em;
}
.wrap {
    margin: 2em;
}

/* DROPDOWN */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-projects, .dropdown-burger {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 1;
  }

  .dropdown-projects a, .dropdown-burger a {
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-projects {display: block;} 


/* STYLE */

a {
    color: var(--black);
    text-decoration: none;
    
    &:hover {
        color: var(--natural);
    }
}  

/* PUZZLE STYLE CLASSES */

.natural {
    color: var(--natural);
    fill: var(--natural);
    stroke: var(--natural);
}

.rain {
    color: var(--rain);
    fill: var(--rain);
}

.pollen {
    color: var(--pollen);
    fill: var(--pollen);
}

.prairie {
    color: var(--prairie);
    fill: var(--prairie);
}

.forest {
    color: var(--forest);
    fill: var(--forest);
}

.seed {
    color: var(--seed);
    fill: var(--seed);
}

/* TYPE */

/* H1 for title */
h1 {
    font-family: 'proxima-soft';
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 3rem;
    width: min-content;
    margin: .5rem;
}

/* H2 for article headers */
h2 {
    font-family: 'proxima-soft';
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 1.8rem;
}

/* H3 for buttons, nav, etc. */
h3 {
    font-family: 'proxima-soft';
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.1rem;
    width: min-content;
    margin: .5rem;
}

/* Text Wrapper 
.text-wrap {
    margin: .5rem;
    padding: .5rem;
}
*/
/* NAVIGATION */
nav {
    display: flex;
    flex-flow:wrap;
    position: sticky;
    top: 0;
    
    background-color: var(--white);

    /* Following not necisarry with nav 'flex-flow: wrap'
    justify-content: space-between;
    @media screen and (max-width: 800px) {
        flex-direction: column;
        align-items: flex-start;
      }
    */
}

/* Questions?
does nav items need to be a container with flex flow wrap and primary with flex grow? YES! 
Do I need the Collapse into column? or can I just use Burgertime? Probably Not, unless it is for phone!
*/

.primary {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex: 2 1;
}

.logo {
    color: var(--natural);
    &:hover {
        color: var(--black);
    }
    flex: auto;
}

.nav-items {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1;
}

/* HIDDEN DROPDOWN */

svg {
    border: 1px solid blue;
  }

.hidden-dropdown {
    position: relative;
    background-color: #A35FA6;
    display: none;
    flex: auto;
    height: 2.5em;
    width: 2.5em;
    margin: auto;
    min-width: 2.5em;
    
    img {
        float: right;
        max-width: 100%;
        max-height: 100%;
        display: block;
    }
}


.hidden-dropdown:hover .dropdown-burger {display: block;} 



/* FLEXBOX
do I need a nave specific wrap?

Then I could weight primary and nav elements, or is my NAV definition doing that?

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10em;
}
*/


/* CLASSES WIP
.footer {}
.PuzzlePiece {}
.article-container {}
something sticky or 'ghost' pzzle piece
 */

/* Body */


.body-container {
   display: grid;
    grid-template-columns: 35% 65%;
}

.puzzle-container {
  
    background-color: peachpuff; 
    
}

.article {
    background-color: lightgoldenrodyellow;
    margin: auto;
    display: inline-flex;
    flex-direction: row;
    text-align: left; 
    
}

.article-head {
    background-color: aquamarine;
    max-width: min-content;
    
}

.article-body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

.article-p {
    font-family: 'apparat';
    
}

.article-img {

}

.title-img {
    display: none;
}

/* STICKY PUZZLE PEICE */
/* Probably need to make one for 
each puzzle, or can I defien with a style? 
Along with color and rotation? 
and flex order?

that would be so cool
*/

.sticky-img {
    position: sticky;
    top: 40%;
    
    justify-self: left;
    
    background-color: pink;
}


/* MEDIA */

/* desktop */
@media only screen
and (min-width : 1200) {


}

/* tablet landscape */
@media screen and (min-width: 1024px) and (max-width: 1600px)  {

}

/* tablet portrait */
@media screen and (min-width: 768px) and (max-width: 1023px)  {

}

/* smartphone landscape */
@media screen and (min-width: 480px) and (max-width: 767px)  {

    .nav-items {
        display: none;}
    
    .hidden-dropdown {
        display: inline-block;
    }

    .article {
        display: inline-block;
    }
}



/* smartphone portrait */
@media screen and (max-width: 479px) {

    .nav-items {
        display: none;}

    .body-container {
        display: block;
    }
        
    /* sText will be in puzzle Image */
    .article-head {
        display: none;}

    .puzzle-container {
        display: none;}

    .title-img {
        display: flex;
    }
}


