/* UNIVERSAL */

body {
    margin: 0em;
}
.wrap {
    margin: 2em;
}

/* DROPDOWN */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-projects, .dropdown-burger {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 1;
  }

  .dropdown-projects a, .dropdown-burger a {
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-projects {display: block;} 


/* STYLE */

.logo {
    color: #ED1C24;
    margin: 1em;
    &:hover {
        color: black;
    }
}

a {
    color: black;
    text-decoration: none;
    
    &:hover {
        color: #ED1C24;
    }
}  


/* TYPE */
h1 {
    font-family: 'proxima-soft';
    font-weight: 800;
    font-size: 3.75rem;
    line-height: 3.125rem;
    margin: 1rem;
}

h2 {
    font-family: 'proxima-soft';
    font-weight: 600;
}

h3 {
    font-family: 'proxima-soft';
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.3rem;
    margin: .5rem;
}




/* NAVIGATION */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    @media screen and (max-width: 800px) {
        flex-direction: column;
        align-items: flex-start;
      }
}



.nav-items {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    background-color: aqua;

    @media screen and (max-width: 800px) {
        flex-direction: column;
        align-items: flex-start;
        margin: 1em;
      }
    
}

.nav-text {
    text-align: left;
}
/* HIDDEN DROPDOWN */

.primary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em
;
}

.hidden-dropdown {
    position: relative;
    display: none;
}

.hidden-dropdown:hover .dropdown-burger {display: block;} 



/* BURGER APPEAR NAV-ITEMS DISAPPEAR*/
@media screen and (max-width: 600px) {
    .nav-items {
        display: none;}
    
    .hidden-dropdown {
        display: inline-block;
    }
}


/* FLEXBOX
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10em;
}
*/


/* CLASSES WIP */

.article {}
.footer {}
.PuzzlePiece {}


/* MEDIA */


.article {
    h2 {color: #3471b8;
        font-size: x-large;
    }
    p { font-family: 'apparat';
        font-size: medium;
    }
}
   

.flex-test {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: greenyellow;
}