

#wrapper {
    display: flex;
    height: auto;
    width: auto;
}

.webContent {
    flex: 1 1 65%
}
.text {
    display: block;
    flex: auto;
}

#graphic {
    
    display: flex;
    flex: 1 1 35%;
    width: auto; 
    height: auto; 
    border: 1px solid black; 

}

#myCanvas {
    background-color: mintcream;
    border: red 1px solid;
    width: 100%; 
    height: 100%; 
}